<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- Add the Smart Views -->
   <extension
         point="com.ensoftcorp.atlas.ui.smartViewScript">
      <script
            class="com.amfvt.ui.smart.ExceptionalFlowsSmartView">
      </script>
      <script
            class="com.amfvt.ui.smart.IntegrityCheckerSmartView">
      </script>
      <script
            class="com.amfvt.ui.smart.SubsystemSmartView">
      </script>
   </extension>

</plugin>